@media (max-width: 813px) {
    .container{
        width: 90%;
        height: 1467px;
    }

    #form-subtitle{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 19px;
    }

    #description {
        width: 98%;
        font-size: 13px;
    }

    .flex-container{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .box{
        margin: auto;
        margin-bottom: 20px;
    }



    .form-container{
        height: 1210px;
    }

    .input input{
        width: 90%;
    }

}